RewriteEngine on
RewriteCond %{HTTP_HOST} ^viurecosmeticos.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^ava.viurecosmeticos.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]